body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  color: white;
  height: 55px;
}

#root > div > div > h4 {
  margin-left: 10px;
  font-size: 15px;
}

.travel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 30px;
}

#location {
  width: 10px;
}

.travel-left {
  /* width: 20%; */
  max-width: 125px;
  height: 168px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}

.travel-right {
  width: 80%;
}

.travel-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.travel-right h3 {
  font-size: 16px;
  font-weight: 300;
}

.location {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}

.location a {
  color: #918E9B;
  font-size: 16px;
}

.location h3 {
  text-transform: uppercase;
}

.travel-right h1 {
  margin-bottom: 20px;
  font-size: 25px;
  color: #2B283A;
}

@media (max-width: 530px) {
  .travel {
    flex-direction: column;
    text-align: center;
  }

  .travel-left {
    margin: 0 0 20px 0;
  }

  .travel-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .location {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 20px;
  }
}